<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="entreprise">
            <h2><span>Entreprise</span> {{ entreprise.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Designation</span></dt>
                <dd>
                    <span>{{ entreprise.designation }}</span>
                </dd>
                <dt><span>Adresse</span></dt>
                <dd>
                    <span>{{ entreprise.adresse }}</span>
                </dd>
                <dt><span>Secteur</span></dt>
                <dd>
                    <span>{{ entreprise.secteur }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/entreprise', entreprise.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
